<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.samsung.android.sbrowser.permission.CONTENTBLOCKER" />
    <queries>
        <intent>
            <action android:name="com.samsung.android.sbrowser.contentBlocker.ACTION_SETTING" />
        </intent>
    </queries>
    <application
        android:name=".AdblockFastApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <meta-data
            android:name="com.samsung.android.sbrowser.contentBlocker.interfaceVersion"
            android:value="API_1.0" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.rocketshipapps.adblockfast.service.NotificationExtension" />
        <meta-data android:name="io.sentry.dsn" android:value="@string/glitchtip_dsn" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true" tools:targetApi="M">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="adblockfast.com" />
                <data android:pathPrefix="/sync" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.rocketshipapps.adblockfast.androidx-startup"
            tools:node="remove" />
        <provider
            android:name=".contentBlocker.contentProvider.BlockerProvider"
            android:authorities="com.rocketshipapps.adblockfast.contentBlocker.contentProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <receiver android:name=".service.UpdateReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
