<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocketshipapps.adblockfast">

    <uses-permission android:name="com.samsung.android.sbrowser.permission.CONTENTBLOCKER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.rocketshipapps.adblockfast.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.rocketshipapps.adblockfast.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AdblockfastApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:authorities="com.rocketshipapps.adblockfast.contentBlocker.contentProvider"
            android:name=".contentBlocker.contentProvider.FilterContentProvider"
            android:exported="true" />

        <meta-data
            android:name="com.samsung.android.sbrowser.contentBlocker.interfaceVersion"
            android:value="API_1.0" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name=".service.RegistrationIntentService" />
    </application>

</manifest>
