/*
  Copyright 2015 Rocketship <http://rocketshipapps.com/>

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <brian@rocketshipapps.com>
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

@font-face {
  font-family: HudsonNY;
  src: url(../fonts/2F0E63_0_0.woff2) format(woff2)
}

body {
  margin: 50px auto 80px;
  width: 640px;
  font: 16px 'Open Sans', sans-serif;
  color: #2c2c2c
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto
}

h1, h3 {
  text-align: center;
  font-family: HudsonNY, sans-serif
}

h1 {
  margin-top: 10px;
  font-size: 30px;
  color: #d4d4d4
}

h2, h3 { margin-top: 40px }

h2 { font-size: 22px }

h3 { font-size: 16px }

p, ul { margin-top: 30px }

p { line-height: 1.5 }

ul { padding-left: 15px }

li {
  list-style: none;
  margin-top: 20px;
  height: 38px;
  line-height: 38px;
  text-indent: 125px;
  font-size: 14px
}

#blocked-ads { background: url(../images/blocked-ads.png) no-repeat }

#blocked { background: url(../images/blocked.png) no-repeat }

#unblocked-ads { background: url(../images/unblocked-ads.png) no-repeat }

#unblocked { background: url(../images/unblocked.png) no-repeat }

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: #b6594a
}

a:hover, a:focus, a:active { border-bottom: 2px solid #b6594a }
